# Folders
__pycache__
node_modules
build
frontend/static/frontend
frontend/static/maps
frontend/dist
objects
others
*.xcodeproj
*.a

# Programs, etc.
.DS_Store
package-lock.json
db.sqlite3
reporter/simple
reporter/secret
reporter/data
reporter/dgen
